// 104. Voilà, encore un copier / coller pour arranger la gueule du "header"... Tester la navigation "Logo" et "SHOP". Petit ajout ensuite dans "App.css" pour changer la couleur du texte et virer le surlignage. Go -> "App.css" (point 105.).

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .option {
      padding: 10px 15px;
    }
  }
}
